/* 变量定义
======================================*/
$base-color: #1AA0EC;
$base-color-dark: #10618e;
$base-bg: #020a0f;

$text-color: #C3E9FF;
$text-color-light: #FEAF64;

$data-empty: #BDBDBD;
$data-error: #F14E51;
$data-normal: #67C21F;


$base-bg-light: rgba(30, 55, 108, 1);
$base-border: rgba(79, 154, 255, 1);
$btn-border-light: rgba(51, 255, 240, 1);
$orange: rgba(255, 87, 34, 1);
$grey: rgba(216, 216, 216, 1);
$gray: rgba(88, 93, 112, 1);
$cyan: rgba(0, 255, 255, 1);
$error: rgba(238, 80, 68, 1);
$success: rgba(6, 195, 64, 1);

